$red: #cb3031;
$mid-gray:#6e6f70;
$light-gray: #dcdcdc;
$white: #fff;
$black: #000;

$paragraph-size: 18px;
$h1-size: 24px;
$h2-size: 22px;
$h3-size: 20px;
$h4-size: 18px;
$menu-size: 18px;

body {
    background-color: $white;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: $paragraph-size;
    color: $black;
}

h1 {
    font-size: $h1-size;
    color: $red;
}

h2 {
    font-size: $h2-size;
    color: $red;
}

h3 {
    font-size: $h3-size;
    color: $black;
}

h4 {
    font-size: $h4-size;
    color: $black;
}

.custom-header {
    .site-branding {
        margin-bottom: -105px !important;
        bottom: 50% !important;
        .site-branding-text {
            display: block;
            text-align: center;
            .site-title {
                margin-bottom: 40px;
                &:before {
                    content: '';
                    display: block;
                    background-image: url(https://2019.portoalegre.wordcamp.org/files/2019/04/wc-poa-2019.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    max-width: 520px;
                    width: 100%;
                    max-height: 140px;
                    height: 100%;
                    margin: 0 auto;
                }
                a {
                    display: none;
                }
            }
            .site-description {
                color: $black;
            }
        }
    }
}

.navigation-top {
    background-color: $mid-gray;
    border: 0;
    .wrap {
        padding: 0;
    }
    .menu-main-menu-container {
        ul {
            li {
                a {
                    text-transform: uppercase;
                    color: $white;
                    font-size: $menu-size;
                    padding: 1.37em 1.25em;
                    letter-spacing: 1px;
                    font-weight: 500;
                    &:hover {
                        background-color: $red;
                    }
                }
            }
        }
    }
    .menu-scroll-down {
        display: none;
    }
}