$red: #cb3031;
$mid-gray:#6e6f70;
$light-gray: #dcdcdc;
$white: #fff;

body {
    background-color: $white;
}
.navigation-top {
    background-color: $mid-gray;
    height: 76px;
    border: 0;
    .menu-main-menu-container {
        ul {
            li {
                a {
                    text-transform: capitalize;
                    color: $white;
                }
            }
        }
    }
    .menu-scroll-down {
        display: none;
    }
}